---
layout: handbook-page-toc
title: "Create:Editor Extensions Group"
description: The Create:Editor Extensions Group is responsible for all product categories that fall under the Editor Extensions group of the Create stage.
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

The Create:Editor Extensions Group is responsible for all aspects of the product categories that fall under the [Editor Extensions group][group] of the [Create stage][stage] of the [DevOps lifecycle][lifecycle].

[group]: /handbook/product/categories/#editor-extensions-group
[stage]: /handbook/product/categories/#create-stage
[lifecycle]: /handbook/product/categories/#devops-stages

## Group overview

### Group members

The following people are permanent members of the Create:Editor Extensions Group:

<%= product_group_table(group: 'Create:Editor Extensions') %>

<%# TODO: make this list dynamic based on the `borrow` field in yaml files %>
The following people are temporary members ([borrow process](/handbook/product/product-processes/#borrow)) of the Create:Editor Extensions Group, each one working on a specific area:

- Language Server
  - [Olena HK.](https://about.gitlab.com/company/team/#ohoral)
- VS Code extension
  - [Marshall Cottrell](https://about.gitlab.com/company/team/#marshall007)
  - [Illya Klymov](https://about.gitlab.com/company/team/#xanf)
- Visual Studio extension
  - [Mike Eddington](https://about.gitlab.com/company/team/#mikeeddington)
- JetBrains extension
  - [Alishan 'Ali' Ladhani](https://about.gitlab.com/company/team/#ali-gitlab)
  - [Eduardo Bonet](https://about.gitlab.com/company/team/#eduardobonet)
  - [Naman Jagdish Gala](https://about.gitlab.com/company/team/#ngala)
- Neovim extension
  - [Erran Carey](https://about.gitlab.com/company/team/#erran)

### Product categories

The Editor Extensions group is responsible for the following [product categories](/handbook/product/categories/#editor-extensions-group):

- [Editor Extensions](/direction/create/editor_extensions/)

## Communication

Additionally to our main team communication channels, each extension/project we work on has its own slack channel and weekly sync call.

- Team: [#g_editor_extensions](https://gitlab.slack.com/archives/C058YCHP17C) - [Sync Agenda](https://docs.google.com/document/d/1UJg-Prf5qGjiGImvaYl5HNjMcJddoeE4u33Ri6SxQ6g)
- Projects
  - Language Server: [#f_language_server](https://gitlab.slack.com/archives/C05B1PFHRPU) - [Sync Agenda](https://docs.google.com/document/d/1MpdplLJ99oabhw_UPFj6UWj5ICeEQtLGI4g3ii3IUiI)
  - VS Code extension: [#f_vscode_extension](https://gitlab.slack.com/archives/C013QJ9NEPL)
  - Visual Studio extension: [#f_visual_studio_extension](https://gitlab.slack.com/archives/C0581SE363C) - [Sync Agenda](https://docs.google.com/document/d/1opXnYyA03DuS1Clegclar-jQ7YMj-xmJBdZ3DR5AWEU)
  - JetBrains extension: [#f_jetbrains_plugin](https://gitlab.slack.com/archives/C02UY9XKABH) - [Sync Agenda](https://docs.google.com/document/d/1BQyz1-m6ofFT82dL1Y-53KmowSvkZTfEnJKt6jlDQk4)
  - Neovim extension: [#f_neovim_plugin](https://gitlab.slack.com/archives/C05BF7L6PEX)

## Epics & Issues

- Epics: [GitLab Epic Search](https://gitlab.com/groups/gitlab-org/-/epics?state=opened&page=1&sort=start_date_desc&label_name[]=group::editor+extensions)
- Issue Tracker: [GitLab Issue Search](https://gitlab.com/groups/gitlab-org/-/issues/?sort=due_date&state=opened&label_name%5B%5D=group%3A%3Aeditor%20extensions&first_page_size=20)

## Hiring

Check out our [jobs page](/jobs/) for current openings.
